@model shop_mvc.Models.ProductModel

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <a asp-controller="Order" asp-action="Create" asp-route-productID="@Model.Id" asp-route-userID="@User.FindFirst(ClaimTypes.NameIdentifier).Value" class="btn btn-warning">Dodaj do koszyka</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edytuj</a><span> | </span> 
    }
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Wróć</a>
</div>
