@model shop_mvc.Models.ProductModel
@{
    ViewData["Title"] = "Szczegóły";
}

<table class="table align-middle">
  <thead>
    <tr>
      <th scope="col">Produkt</th>
      <th scope="col">Opis</th>
      <th scope="col">Zdjęcie</th>
      <th scope="col">Cena</th>
      <th scope="col">Ilość</th>
      <th scope="col">Koszt</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>@Model.Name</td>
          <td>@Model.Description</td>
          <td>
                    @{
                        string image = @Model.Name + ".png";
                    }
              <img src="/img/@image" class="img-thumbnail" />
          </td>
          <td>@Model.Price$</td>
          <td>@Model.Count</td>
          <td>@(Model.Price * @Model.Count)$</td>
      </tr>
  </tbody>
</table>
<div>
    @if (User.IsInRole("User") || User.IsInRole("Admin"))
    {
        <a asp-controller="Order" asp-action="Create" asp-route-productID="@Model.Id" asp-route-userID="@User.FindFirst(ClaimTypes.NameIdentifier).Value" class="btn btn-warning">Dodaj do koszyka</a>
    }
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edytuj</a><span> | </span> 
    }
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Wróć</a>
</div>
